<!Doctype html>
<html>
<head>
<title>Social Query 1.0</title>
<link rel="stylesheet" type="text/css" href="app.css">
<script type="application/javascript" src="http://code.jquery.com/jquery.min.js"></script><script type="application/javascript" src="jquery.sparkline.min.js"></script>
  
    
</head>
<body>
<div class="container">

    <div id="title"><h1>Social Query 1.0</h1></div>
    <div class="credit"><h5>Developed by Alexander Apmann, Matthew Demas, and Joshua Lucier of Champlain College</h5></div>
    

    <div id="searchHistory">
        <div id="topTen"></div>
        <div id="lastFive"></div>
    </div>


<div class="form">
<form id="myForm">
    <div>
        <label for="name">Hash Tag 1:</label>
        <input type="text" name="SampleHash" id="SampleHash" placeholder="#CampChamp" size="14" maxlength="140"/>
    </div>
    
    <div>
        <label for="name">Hash Tag 2:</label>
        <input type="text" name="SampleHash2" id="SampleHash2" placeholder="#Burlington" size="14" maxlength="140"/>
    </div>
    
    <div>
        <label for="oldest">Oldest:</label>
        <input type="date" name="oldest" id="oldest" required/>
    </div>
    
    <div>
        <label for="latest">Latest:</label>
        <input type="date" name="latest" id="latest" required/>
    </div>
    
    <div>
        <label for="distance">Distance (mi):</label>
        <input type="number" name="distance" id="distance" placeholder="100" min="1" max="4000" value="100" required/>
    </div>
    
    <div>
        <label for="number">Count</label>:</label>
        <input type="number" name="number" id="number" placeholder="10" min="1" max="100" value="10" required/>
    </div>
    
    <div>
        <label for="sentiment">Sentiment:</label>
        <select name="order" id="sentiment">
            <option value="1">Highest</option>
            <option value="2">Lowest</option>
        </select>
    </div>
    
    <input type="hidden" id="latitude" name="latitude" value=0>
    <input type="hidden" id="longitude" name="longitude" value=0>
    

  
</form>
<div class="submit"><input type="submit" id="submit" value="Submit"></div>
  </div>
<div id="tweets">
    
    
</div>   
    
    

<div id="redditContainer">
    <h5>Related Reddit Threads</h5><div id="reddit"></div>
</div>    
    
    
</div>   
<script type=text/javascript src='exchange.js'>
</script>
</body>
</html>