<!Doctype html>
<html>
<head>
<script type="application/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  
    
</head>
<body>
<div id="top10"></div><br>
<div id="last5"></div><br>
Yo
<button id="submit">Results!</button>  
<form id="myForm" method="post">
<label for="name">Hash Tag:</label><input type="text" id="SampleHash" name="SampleHash" value="#dude"><br>
<label for="oldest">Oldest:</label><input type="date" id="oldest" name="oldest"><br>
<label for="latest">Latest:</label><input type="date" id="latest" name="latest"><br>
<label for="number">Number:</label><input type="range" id="number" name="number" value=10 min="0" max="100"><span id="rangeNum">10</span><br>
<label for="distance">Distance(mi):</label><input type="number" id="distance" name="distance" value="10"><br>
Sentiment: <select name="order" id="order" required>
    <option value = 1>Highest to Lowest</option>
    <option value = 2>Lowest to Highest</option>
    </select>
<input type="hidden" id="latitude" name="latitude" value=0>
<input type="hidden" id="longitude" name="longitude" value=0>
Sentiment: <input type="dropdown" name="sentiment" id="inputtext" placeholder="1-1000" min="1" max="1000" required/>
</form>
<div id="tweets"></div>
    
<script type=text/javascript>
var myData = {
    name : "Joshua Lucier",
    rating: "10/10"

};
full = 0;
if (localStorage["lastFive"]){
    $("#last5").text(localStorage["lastFive"]);
} else {
    $("#last5").text("No entries yet...");
}

function SubmitPosition(pos){
          if (localStorage["lastFive"]){
              for(i=0;i<5;i++){
                    lastFive = JSON.parse(localStorage["lastFive"]);
                    if(lastFive[i]){
                        full = i;
                    }
              }
              if(full==4){
                    lastFive.shift();
                    full=3;
               }
              lastFive[full+1]=$("#SampleHash").val()
              localStorage["lastFive"]=JSON.stringify(lastFive);
            } else {
                lastFive=[];
                lastFive[0]=$("#SampleHash").val();
                localStorage["lastFive"]=JSON.stringify(lastFive);
            }
          $("#last5").text(localStorage["lastFive"]);
          $("#latitude").val(pos.coords.latitude);
          $("#longitude").val(pos.coords.longitude);
          var mydata = $("#myForm").serialize();
            $.ajax({
                url: '/twittergrab',
                type: "post",
                datatype: "json",
                data: mydata,
                success: function(data) {
                    //need format data json object into output
                    console.log(data);
                    $("#tweets").text("Here's Your tweets...");
                    for(i=0;i<data.myTweetArray.length;i++){
                        $("#tweets").append(data.myTweetArray[i].message+"<br>");
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown + ";");
                }
            });   
            /*
            $.ajax({
                //ajax request for reddit api
            });
            */
            
        }

$(document).ready(function() {
    $("#top10").text("Loading top 10...");
    $.ajax({
        url: '/topten',
                type: "get",
                datatype: "json",
                success: function(data) {
                    //need format data json object into output
                    console.log(data);
                    $("#top10").text(data.topTen);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown + ";");
                }
    });
    setInterval(function(){
    $.ajax({
        url: '/topten',
                type: "get",
                datatype: "json",
                success: function(data) {
                    //need format data json object into output
                    console.log(data);
                    $("#top10").text(data.topTen);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown + ";");
                }
    });
    },10000);
    
    
    $("#submit").click(function(){
        /*
        $.post("/twittergrab",$("myForm").serialize(),function(data){
            $("div").append(data.name);
        },"json");
        */
  
        if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(SubmitPosition);
        }
        else{x.innerHTML="Geolocation is not supported by this browser.";}
        
    });

    
    
    $("#number").mouseup(function(){
        $("#rangeNum").text($("#number").val());
    });
});
</script>
</body>
</html>