<!Doctype html>
<html>
<head>
<script type="application/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  
    
</head>
<body>
<div id="top10"></div><br>
<div id="last5"></div><br>
Yo
<button id="submit">Results!</button>  
<form id="myForm" method="post">
<label for="SampleHash">Hash Tag:</label><input type="text" id="SampleHash" name="SampleHash" value="#dude"><br>
<label for="SampleHash2">Hash Tag 2:</label><input type="text" id="SampleHash2" name="SampleHash2" value="#dude"><br>
<label for="oldest">Oldest:</label><input type="date" id="oldest" name="oldest"><br>
<label for="latest">Latest:</label><input type="date" id="latest" name="latest"><br>
<label for="number">Number:</label><input type="range" id="number" name="number" value=10 min="0" max="100"><span id="rangeNum">10</span><br>
<label for="distance">Distance(mi):</label><input type="number" id="distance" name="distance" value="10"><br>
Sentiment: <select name="order" id="order" required>
    <option value = 1>Descending</option>
    <option value = 2>Ascending</option>
    </select>
<input type="hidden" id="latitude" name="latitude" value=0>
<input type="hidden" id="longitude" name="longitude" value=0>
</form>
<div id="tweets">Loading Tweets...</div>
<div id="reddit">Loading Reddit...</div>    
<script type=text/javascript src='exchange.js'>

</script>
</body>
</html>