
/* Author: Matthew Demas
 * Project Name: Mobile Web App
 * Related Files: app.html, app.css (this file)
 * Date Created: 2013-11-4
 * Last Modified: 2013-11-19
 */

@font-face {
    font-family: 'kashuan';
    src: url('kaushanscript-regular.otf');
    font-weight: normal;
    font-style: normal;

}


body
    {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgb(255,255,255);
    }

div.container
    {
        position: relative;
        width: 400px; /* keep this */
        margin: 5px auto;
        background-color: rgb(185,230,255);
        border: 2px solid rgb(180,180,180);
        border-radius: 10px;
        box-shadow: 3px 3px 5px rgb(80,80,80);
        color: black;
        font-family: arial, sans-serif;
        font-size: 1em;
        font-style: none;
        line-height: 35px;
    }

/* targeting ipad and below*/
@media only screen and (max-device-width: 768px) and (orientation: portrait){
    div.container { width: 100%; font-size: 2em;}
}
    
@media only screen and (max-device-width: 1024px) and (orientation: landscape){
    div.container { width: 100%; font-size: 2em; }
}

/*for demo in browser (kill this for production) */

@media only screen and (max-width: 1024px) and (orientation: landscape){
    div.container { width: 100%; font-size: 2em; }
}

table
    {
        margin-left: auto;
        margin-right: auto;
    }

div.form
    {
        position: relative;
        width: 350px;
        margin: 5px auto;
        background-color: rgb(255,255,255);
        border: 2px solid rgb(180,180,180);
        border-radius: 10px;
        color: black;
        font-family: arial, sans-serif;
        font-size: 10pt;
        font-style: none;
    }

td.headings
    {
        /* <http://www.w3.org/wiki/CSS/Properties/text-align>
         * left, right, center, justify, inherit
         */
        text-align: right;
        /* <http://www.w3.org/wiki/CSS/Properties/vertical-align>
         * baseline, sub, super, top, text-top, middle,
         * bottom, text-bottom, length, or a value in percentage
         */
        vertical-align: text-top;
    }

div.submit
    {
        text-align: center;
    }

div.result
    {
        position: relative;
        width: 350px;
        margin: 5px auto;
        background-color: rgb(255,255,255);
        border: 2px solid rgb(180,180,180);
        border-radius: 10px;
        color: black;
        font-family: arial, sans-serif;
        font-size: 10pt;
        font-style: none;
    }

table.result
    {
        margin: 5px;
        line-height: 14pt;
    }

#searchHistory
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(180,180,180);
    border-radius: 10px;
    color: black;
    font-family: kashuan, arial, sans-serif;
    font-size: 1em;
    font-style: none;
    
}

#searchHistory li
{
   display: inline;
    padding-right: 1em;
}

h1 {
    color: black;
    font-family: kashuan, arial, sans-serif;
    font-size: 3em;
    font-style: none;   
}

div.form{
  overflow:hidden;
}
div.form label{
  width:160px;
  display:block;
  float:left;
  text-align:left;
}
div.form .input{
  margin-left:4px;
  float:left;
}




